<form id="mailer" action="destination.html">

  <label>
    Add an email to the mailing list:
    <input type="email" name="subscriber_email">
  </label>

  <button class="submit">Send</button>
</form>

<result></result>

<script type="text/javascript">
$( "form" ).submit(function( event ) {
    $.ajax({
        url: "https://qpwe3buke33ickvmxaw66bnaxm0bxenm.lambda-url.us-west-1.on.aws/",
        type: "Post",
        data: JSON.stringify({ 'subscriber_email': $( "form" ).serializeArray()[0]["value"] }),
        success: function( response ) {
            window.location.href = "/mailer/destination.html";
          },
        crossDomain: true,
        headers: {
            "Access-Control-Allow-Headers": x-requested-with,
            "Access-Control-Allow-Methods": "OPTIONS,POST,GET",
            'X-Requested-With': 'XMLHttpRequest',
            "Content-Type": "application/json"
          }
      });
    event.preventDefault();
});
</script>
